body {
  background-color: rgb(0, 0, 35);
  font-family: system-ui;
}

.stat {
  display: flex;
}

#donecount {
  padding-left: 10px;
}

.icon {
  background-color: rgb(249, 250, 249);
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 10px;
  display: flex;
  margin: 15px;
}

.header {
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: white;
}

.input {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  align-items: center;
  padding-bottom: 45px;
}

textarea {
  font-size: 18px;
  width: 100%;
  max-width: 600px;
  height: 50px;
  border-radius: 15px;
  border: none;
  text-align: center;
  grid-column: 2;
  justify-self: center;
  text-align: center;
}

textarea::placeholder {
  opacity: 0.9;
  text-align: center;
  font-family: calibri;
  font-size: 20px;
}

.add {
  background-color: rgb(9, 131, 9);
  font-size: 25px;
  color: white;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 10px;
  grid-column: 3;
}
.add:hover {
  border: 2px solid rgb(245, 235, 235);
}

p {
  color: white;
}

.todolist {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
}

.todoitem {
  display: grid;
  grid-template-columns: 40px minmax(0, 680px) 40px;
  column-gap: 20px;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.divdonebutton {
  width: 40px;
  height: 40px;
  grid-column: 1;
}

.donebutton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(18, 196, 42, 0.6);
  border: none;
  border-radius: 8px;
  border: 2px solid rgb(31, 198, 25);
}

.donebutton:hover {
  background-color: rgb(18, 196, 42, 1);
  border: 2px solid rgb(245, 235, 235);
}

.imgdonebutton {
  width: 28px;
  height: 28px;
}

.list {
  grid-column: 2;
  justify-self: center;
  text-align: center;
  color: white;
  background-color: rgb(64, 64, 184);
  width: 100%;
  max-width: 680px;
  height: fit-content;
  padding: 20px;
  font-size: 20px;
  border-radius: 16px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

.divdelbutton {
  width: 40px;
  height: 40px;
  grid-column: 3;
}

.delbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(243, 61, 61, 0.6);
  border: 2px solid rgb(255, 22, 22);
  border-radius: 8px;
}
.delbutton:hover {
  background-color: rgba(243, 61, 61, 1);
  border: 2px solid rgb(245, 235, 235);
}
.imgdelbutton {
  width: 28px;
  height: 28px;
}
